<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    用户相关功能业务
-->
<mapper namespace="org.isd.dao.UserMapper">

    <!-- 实体类映射 -->
    <resultMap id="BaseResultMap" type="org.isd.pojo.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="accountno" jdbcType="VARCHAR" property="accountno"/>
        <result column="deviceid" jdbcType="VARCHAR" property="deviceid"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="member_expire" jdbcType="TIMESTAMP" property="member_expire"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time"/>
        <result column="access_token" jdbcType="VARCHAR" property="access_token"/>
        <result column="access_expire" jdbcType="TIMESTAMP" property="access_expire"/>
        <result column="refresh_token" jdbcType="VARCHAR" property="refresh_token"/>
        <result column="refresh_expire" jdbcType="TIMESTAMP" property="refresh_expire"/>
        <result column="lastlogin" jdbcType="TIMESTAMP" property="lastlogin"/>
    </resultMap>

    <!-- user 表字段 -->
    <sql id="Base_Column_List">
        id, nickname, avatar, deviceid, location, member_expire, create_time, modify_time,
        access_token, access_expire, refresh_token, refresh_expire, lastlogin
    </sql>

    <!-- 通过用户 id 查询用户信息 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 删除用户 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from user
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- 新增用户 -->
    <insert id="insert" parameterType="org.isd.pojo.User">
        insert into user
        (id, nickname, avatar, accountno, deviceid, location, member_expire,
        create_time, modify_time, access_token, access_expire, refresh_token,
        refresh_expire, lastlogin)
        values
        (#{id},#{nickname} , #{avatar},#{accountno} ,#{deviceid} , #{location}, #{member_expire},
        #{create_time},#{modify_time} ,#{access_token} ,#{access_expire} ,#{refresh_token} ,
        #{refresh_expire}, #{lastlogin})
    </insert>

    <!--  更新用户信息 -->
    <update id="update" parameterType="org.isd.pojo.User">
        update user
        set nickname = #{nickname},
        <if test="avatar!=null">avatar = #{avatar},</if>
        <if test="accountno!=null">accountno = #{accountno},</if>
        <if test="deviceid!=null">deviceid = #{deviceid},</if>
        <if test="location!=null">location = #{location},</if>
        <if test="member_expire!=null">member_expire = #{member_expire},</if>
        <if test="create_time!=null">create_time = #{create_time},</if>
        <if test="modify_time!=null">modify_time = #{modify_time},</if>
        <if test="access_token!=null">access_token = #{access_expire},</if>
        <if test="access_expire!=null">access_expire = #{access_expire},</if>
        <if test="refresh_token!=null">refresh_token = #{refresh_token},</if>
        <if test="refresh_expire!=null">refresh_expire = #{refresh_expire},</if>
        <if test="lastlogin!=null">lastlogin = #{lastlogin}</if>
        where id = #{id}
    </update>

    <!-- 根据用户id查找用户信息 -->
    <select id="findById" resultMap="BaseResultMap">
        select * from user WHERE id=#{id}
    </select>

    <!-- 根据设备 id 查找用户信息 显示所有-->
    <select id="findByDeviceId" resultMap="BaseResultMap">
        select * from user where deviceid=#{deviceid} order by modify_time desc limit 0,1
    </select>

</mapper>